<div class="list-group mb-2">
    <form (ngSubmit)="lookFor(search.value)" class="list-group-item">
        <div class=" form-group">
            <h5>Gdzie chcesz sprawdzić pogode: </h5>
            <br>
            <input class="form-control" type="text" name="location" #search>
        </div>
        <i class="fas fa-search fa-lg search" (click)="lookFor(search.value)" style="cursor: pointer"> Search</i>
        <!-- <button class="btn btn-dark " type="submit">Search</button> -->
    </form>

</div>







<!-- d-flex justify-content-center -->